* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        sans-serif;
    background-color: #f1f5f9;
    min-height: 100vh;
}

.slideshow {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.slideshow .inner {
    display: flex;
    height: 100%;
    transition: all ease-in 0.5s;
}
.slideshow .slide-item {
    flex-shrink: 0;
    width: 100%;
}
.slideshow .slide-img {
    width: 100%;
    height: 99vh;
    object-fit: cover;
}
.slideshow .prev-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:  50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #525252;
}
.slideshow .prev{
  left: 1%;
}
.slideshow .next{
  right: 1%;
}
